h1
{
  text-align: center;
}

#titleBox
{
  width: 100%;
  height: 2em;
}

#tinyMCE_Container
{

}

#tagSelections
{

}

#addTagButtonContainer
{
  text-align: center;
}

#submitTagFormContainer
{
  text-align: center;
}

#addCategoryButtonContainer
{
  text-align: center;
}

#submitCategoryFormContainer
{
  text-align: center;
}

#catReload
{
    background-color: lightskyblue;
    width: 100%;
    height: 200px;
    overflow: auto;
}

#tagReload
{
    background-color: lightskyblue;
    width: 100%;
    height: 200px;
    overflow: auto;
}