.contentPreview {
    height: 0px;
    width: 250px;
}

.blog-post-content {
    height: 140px;
    overflow: hidden;
}

.blog-picture {
    height: 300px;
}
.blogTable{
    table-layout: fixed;
    white-space: nowrap;
    height: 50px;
    width: 700px;
}
.blogTable td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#searchBlogs{
    height: 500px;
    overflow: scroll;
}

